#answer{
    text-align: center;
    margin: 50px;
}

.my-calculator{
    height: fit-content;
}

.center-button-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.calc-button{
    height: fit-content;
    width: 50%;
    margin: 50px;
}