*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    height: 100vh;
    background-color: cornsilk;
}

#middle-screen-container{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80%;
    margin: 0 auto;
}

.card{
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1, a{
    text-align: center;
}

.image-anchor{
    height: 100%;
}

.card img{
    width: 90%;
    height: 70%;
}

@media only screen and (max-width: 770px){
    #middle-screen-container{
        flex-direction: column;
    }
}